## Importing required packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Reading data

In [2]:
races = pd.read_csv("races.csv")
drivers = pd.read_csv("drivers.csv")
sprint = pd.read_csv("sprint_results.csv")
quali = pd.read_csv("qualifying.csv")
results = pd.read_csv("results.csv")
circuits = pd.read_csv("circuits.csv")
constructors = pd.read_csv("constructors.csv")

### Race data

In [3]:
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [4]:
races = races.rename(columns={"name" : "raceName"})
races["raceName"] = races["raceName"].apply(lambda x : x.replace("Grand Prix", "GP"))

In [5]:
races = races.drop(columns=["url", "fp1_date", "fp1_time", "fp2_date", "fp2_time", "fp3_date", "fp3_time", "quali_date", "quali_time", "sprint_date", "sprint_time", "time"])
races.head()

   raceId  year  round  circuitId       raceName        date
0       1  2009      1          1  Australian GP  2009-03-29
1       2  2009      2          2   Malaysian GP  2009-04-05
2       3  2009      3         17     Chinese GP  2009-04-19
3       4  2009      4          3     Bahrain GP  2009-04-26
4       5  2009      5          4     Spanish GP  2009-05-10

### Drivers data

In [6]:
drivers.columns

Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob',
       'nationality', 'url'],
      dtype='object')

In [7]:
drivers = drivers.drop(columns="url")
drivers["driverName"] = drivers["forename"] + " " + drivers["surname"]
drivers = drivers.drop(columns=["forename", "surname"])
drivers = drivers.rename(columns={"number" : "driverNum", "nationality" : "driverNat"})
drivers.head()

,driverId,driverRef,driverNum,code,dob,driverNat,driverName
0,1,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton
1,2,heidfeld,\N,HEI,1977-05-10,German,Nick Heidfeld
2,3,rosberg,6,ROS,1985-06-27,German,Nico Rosberg
3,4,alonso,14,ALO,1981-07-29,Spanish,Fernando Alonso
4,5,kovalainen,\N,KOV,1981-10-19,Finnish,Heikki Kovalainen

### Constructors data

In [8]:
constructors.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [9]:
constructors = constructors.drop(columns="url")
constructors = constructors.rename(columns={"name" : "constructorName", "nationality" : "constructorNat"})
constructors.head()

   constructorId constructorRef constructorName constructorNat
0              1        mclaren         McLaren        British
1              2     bmw_sauber      BMW Sauber         German
2              3       williams        Williams        British
3              4        renault         Renault         French
4              5     toro_rosso      Toro Rosso        Italian

### Circuits data

In [10]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmel贸,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [11]:
circuits = circuits.drop(columns=["lat", "lng", "alt", "url"])
circuits = circuits.rename(columns={"name" : "circuitName"})
circuits.head()

,circuitId,circuitRef,circuitName,location,country
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmel贸,Spain
4,5,istanbul,Istanbul Park,Istanbul,Turkey

###### Results table is used to combine all the tables

In [12]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [13]:
results = results.drop(columns=["resultId", "number", "statusId", "positionText"])

In [14]:
df = results.copy()
df = df.merge(drivers, on="driverId", how="left")
df = df.merge(races, on="raceId", how="left")
# df = df.merge(circuits, on="circuitId", how="left")
df = df.merge(constructors, on="constructorId", how="left")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25660 entries, 0 to 25659
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   raceId           25660 non-null  int64
 1   driverId         25660 non-null  int64
 2   constructorId    25660 non-null  int64
 3   grid             25660 non-null  int64
 4   position         25660 non-null  object
 5   positionOrder    25660 non-null  int64
 6   points           25660 non-null  float64
 7   laps             25660 non-null  int64
 8   time             25660 non-null  object
 9   milliseconds     25660 non-null  object
 10  fastestLap       25660 non-null  object
 11  rank             25660 non-null  object
 12  fastestLapTime   25660 non-null  object
 13  fastestLapSpeed  25660 non-null  object
 14  driverRef        25660 non-null  object
 15  driverNum        25660 non-null  object
 16  code             25660 non-null  object
 17  dob              25660 non-null  object
 18  driverNat        25660 non-null  object
 19  driverName       25660 non-null  object
 20  year             25660 non-null  int64
 21  round            25660 non-null  int64
 22  circuitId        25660 non-null  int64
 23  raceName         25660 non-null  object
 24  date             25660 non-null  object
 25  constructorRef   25660 non-null  object
 26  constructorName  25660 non-null  object
 27  constructorNat   25660 non-null  object
dtypes: float64(1), int64(9), object(18)
memory usage: 5.7+ MB

In [15]:
df.shape

(25660, 28)

In [16]:
df.head().T

,0,1,2,3,4
raceId,18,18,18,18,18
driverId,1,2,3,4,5
constructorId,1,2,3,4,1
grid,1,5,7,11,3
position,1,2,3,4,5
positionOrder,1,2,3,4,5
points,10.0,8.0,6.0,5.0,4.0
laps,58,58,58,58,58
time,1:34:50.616,+5.478,+8.163,+17.181,+18.014
milliseconds,5690616,5696094,5698779,5707797,5708630
fastestLap,39,41,41,58,43
rank,2,3,5,7,1
fastestLapTime,1:27.452,1:27.739,1:28.090,1:28.603,1:27.418
fastestLapSpeed,218.300,217.586,216.719,215.464,218.385
driverRef,hamilton,heidfeld,rosberg,alonso,kovalainen
driverNum,44,\N,6,14,\N
code,HAM,HEI,ROS,ALO,KOV
dob,1985-01-07,1977-05-10,1985-06-27,1981-07-29,1981-10-19
driverNat,British,German,German,Spanish,Finnish
driverName,Lewis Hamilton,Nick Heidfeld,Nico Rosberg,Fernando Alonso,Heikki Kovalainen
year,2008,2008,2008,2008,2008
round,1,1,1,1,1
circuitId,1,1,1,1,1
raceName,Australian GP,Australian GP,Australian GP,Australian GP,Australian GP
date,2008-03-16,2008-03-16,2008-03-16,2008-03-16,2008-03-16
constructorRef,mclaren,bmw_sauber,williams,renault,mclaren
constructorName,McLaren,BMW Sauber,Williams,Renault,McLaren
constructorNat,British,German,British,French,British

In [17]:
# df.groupby(by="driver_nat").driver_name.unique().reset_index()

In [18]:
# driver_country = df.groupby(by="driver_nat").driver_name.nunique().reset_index()
# driver_country

In [19]:
# driver_country = driver_country.rename(columns = {'driver_name': 'driver_counts'})

#

#

# Analyzing the 2021 championship battle

## filtering out required data

In [20]:
races_2021 = races[races["year"] == 2021]
races_2021.sort_values(by="round")
# races_2021

      raceId  year  round  circuitId           raceName        date
1037    1052  2021      1          3         Bahrain GP  2021-03-28
1035    1053  2021      2         21  Emilia Romagna GP  2021-04-18
1039    1054  2021      3         75      Portuguese GP  2021-05-02
1040    1055  2021      4          4         Spanish GP  2021-05-09
1041    1056  2021      5          6          Monaco GP  2021-05-23
1042    1057  2021      6         73      Azerbaijan GP  2021-06-06
1044    1059  2021      7         34          French GP  2021-06-20
1043    1058  2021      8         70         Styrian GP  2021-06-27
1045    1060  2021      9         70        Austrian GP  2021-07-04
1046    1061  2021     10          9         British GP  2021-07-18
1047    1062  2021     11         11       Hungarian GP  2021-08-01
1048    1063  2021     12         13         Belgian GP  2021-08-29
1049    1064  2021     13         39           Dutch GP  2021-09-05
1050    1065  2021     14         14         Italian GP  2021-09-12
1051    1066  2021     15         71         Russian GP  2021-09-26
1052    1067  2021     16          5         Turkish GP  2021-10-10
1053    1069  2021     17         69   United States GP  2021-10-24
1054    1070  2021     18         32     Mexico City GP  2021-11-07
1055    1071  2021     19         18       S茫o Paulo GP  2021-11-14
1038    1051  2021     20         78           Qatar GP  2021-11-21
1056    1072  2021     21         77   Saudi Arabian GP  2021-12-05
1057    1073  2021     22         24       Abu Dhabi GP  2021-12-12

In [21]:
races_2021.isnull().sum()

raceId       0
year         0
round        0
circuitId    0
raceName     0
date         0
dtype: int64

In [22]:
races_2021.columns

Index(['raceId', 'year', 'round', 'circuitId', 'raceName', 'date'], dtype='object')

In [23]:
# results = pd.read_csv("results.csv")
results.head()

,raceId,driverId,constructorId,grid,position,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed
0,18,1,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300
1,18,2,2,5,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586
2,18,3,3,7,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719
3,18,4,4,11,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464
4,18,5,1,3,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385

##### Getting the data for all the drivers in all the 22 races

In [24]:
races_2021 = races_2021.merge(results, on='raceId', how='inner')
races_2021 = races_2021.merge(drivers, on='driverId', how='inner')

In [25]:
races_2021.sort_values(by="round").head()

,raceId,year,round,circuitId,raceName,date,driverId,constructorId,grid,position,...,fastestLap,rank,fastestLapTime,fastestLapSpeed,driverRef,driverNum,code,dob,driverNat,driverName
133,1052,2021,1,3,Bahrain GP,2021-03-28,842,213,5,17,...,48,5,1:34.090,207.069,gasly,10,GAS,1996-02-07,French,Pierre Gasly
45,1052,2021,1,3,Bahrain GP,2021-03-28,846,1,7,4,...,38,6,1:34.396,206.398,norris,4,NOR,1999-11-13,British,Lando Norris
395,1052,2021,1,3,Bahrain GP,2021-03-28,847,3,15,14,...,40,12,1:35.036,205.008,russell,63,RUS,1998-02-15,British,George Russell
67,1052,2021,1,3,Bahrain GP,2021-03-28,844,6,4,6,...,39,11,1:34.988,205.112,leclerc,16,LEC,1997-10-16,Monegasque,Charles Leclerc
89,1052,2021,1,3,Bahrain GP,2021-03-28,832,6,8,8,...,48,7,1:34.509,206.151,sainz,55,SAI,1994-09-01,Spanish,Carlos Sainz

In [26]:
races_2021.shape

(440, 25)

In [27]:
races_2021.columns

Index(['raceId', 'year', 'round', 'circuitId', 'raceName', 'date', 'driverId',
       'constructorId', 'grid', 'position', 'positionOrder', 'points', 'laps',
       'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'driverRef', 'driverNum', 'code', 'dob', 'driverNat',
       'driverName'],
      dtype='object')

In [28]:
# races.columns

In [29]:
# drivers.columns

In [30]:
# results.columns

In [31]:
races_2021.isnull().sum()

raceId             0
year               0
round              0
circuitId          0
raceName           0
date               0
driverId           0
constructorId      0
grid               0
position           0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
driverRef          0
driverNum          0
code               0
dob                0
driverNat          0
driverName         0
dtype: int64

In [32]:
# sprint = pd.read_csv("sprint_results.csv")

In [33]:
sprint.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'fastestLapTime', 'statusId'],
      dtype='object')

In [34]:
features = ["raceId", "driverId", "points"]
sprint = sprint[features]

In [35]:
sprint = sprint.rename(columns={"points" : "sprint-points"})
sprint.head()

   raceId  driverId  sprint-points
0    1061       830              3
1    1061         1              2
2    1061       822              1
3    1061       844              0
4    1061       846              0

In [36]:
sprint.isnull().sum()

raceId           0
driverId         0
sprint-points    0
dtype: int64

In [37]:
races_2021 = races_2021.merge(sprint, on=["raceId", "driverId"], how="left")
# races_2021.head().T

In [38]:
races_2021.isnull().sum()

raceId               0
year                 0
round                0
circuitId            0
raceName             0
date                 0
driverId             0
constructorId        0
grid                 0
position             0
positionOrder        0
points               0
laps                 0
time                 0
milliseconds         0
fastestLap           0
rank                 0
fastestLapTime       0
fastestLapSpeed      0
driverRef            0
driverNum            0
code                 0
dob                  0
driverNat            0
driverName           0
sprint-points      380
dtype: int64

In [39]:
races_2021["sprint-points"].fillna(value=0, inplace=True)
races_2021.isnull().sum()

raceId             0
year               0
round              0
circuitId          0
raceName           0
date               0
driverId           0
constructorId      0
grid               0
position           0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
driverRef          0
driverNum          0
code               0
dob                0
driverNat          0
driverName         0
sprint-points      0
dtype: int64

In [40]:
races_2021.columns

Index(['raceId', 'year', 'round', 'circuitId', 'raceName', 'date', 'driverId',
       'constructorId', 'grid', 'position', 'positionOrder', 'points', 'laps',
       'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'driverRef', 'driverNum', 'code', 'dob', 'driverNat',
       'driverName', 'sprint-points'],
      dtype='object')

In [41]:
races_2021.shape

(440, 26)

In [42]:
print(races_2021["sprint-points"].max())
print(races_2021["sprint-points"].min())

3.0
0.0

In [43]:
races_2021["sprint-points"].isnull().sum()

0

In [44]:
races_2021["sprint-points"] = races_2021["sprint-points"].apply(lambda x : 0 if(x>3) else x)
races_2021["sprint-points"].apply(lambda x : x)

races_2021["total-points"] = races_2021["points"] + races_2021["sprint-points"]
races_2021.shape

(440, 27)

In [45]:
races_2021.head()

,raceId,year,round,circuitId,raceName,date,driverId,constructorId,grid,position,...,fastestLapTime,fastestLapSpeed,driverRef,driverNum,code,dob,driverNat,driverName,sprint-points,total-points
0,1053,2021,2,21,Emilia Romagna GP,2021-04-18,830,9,3,1,...,1:17.524,227.960,max_verstappen,33,VER,1997-09-30,Dutch,Max Verstappen,0.0,25.0
1,1052,2021,1,3,Bahrain GP,2021-03-28,830,9,1,2,...,1:33.228,208.984,max_verstappen,33,VER,1997-09-30,Dutch,Max Verstappen,0.0,18.0
2,1051,2021,20,78,Qatar GP,2021-11-21,830,9,7,2,...,1:23.196,232.799,max_verstappen,33,VER,1997-09-30,Dutch,Max Verstappen,0.0,19.0
3,1054,2021,3,75,Portuguese GP,2021-05-02,830,9,3,2,...,1:20.695,207.581,max_verstappen,33,VER,1997-09-30,Dutch,Max Verstappen,0.0,18.0
4,1055,2021,4,4,Spanish GP,2021-05-09,830,9,2,2,...,1:18.149,215.357,max_verstappen,33,VER,1997-09-30,Dutch,Max Verstappen,0.0,19.0

In [46]:
ver = races_2021[races_2021['code'] == 'VER']
ham = races_2021[races_2021['code'] == 'HAM']

In [47]:
ham.sort_values(by="round")

,raceId,year,round,circuitId,raceName,date,driverId,constructorId,grid,position,...,fastestLapTime,fastestLapSpeed,driverRef,driverNum,code,dob,driverNat,driverName,sprint-points,total-points
23,1052,2021,1,3,Bahrain GP,2021-03-28,1,131,2,1,...,1:34.015,207.235,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0
22,1053,2021,2,21,Emilia Romagna GP,2021-04-18,1,131,1,2,...,1:16.702,230.403,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,19.0
25,1054,2021,3,75,Portuguese GP,2021-05-02,1,131,2,1,...,1:20.933,206.971,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0
26,1055,2021,4,4,Spanish GP,2021-05-09,1,131,1,1,...,1:20.665,208.640,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0
27,1056,2021,5,6,Monaco GP,2021-05-23,1,131,7,7,...,1:12.909,164.769,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,7.0
28,1057,2021,6,73,Azerbaijan GP,2021-06-06,1,131,2,15,...,1:44.769,206.270,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,0.0
30,1059,2021,7,34,French GP,2021-06-20,1,131,2,2,...,1:37.410,215.903,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,18.0
29,1058,2021,8,70,Styrian GP,2021-06-27,1,131,2,2,...,1:07.058,231.811,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,19.0
31,1060,2021,9,70,Austrian GP,2021-07-04,1,131,4,4,...,1:08.126,228.177,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,12.0
32,1061,2021,10,9,British GP,2021-07-18,1,131,2,1,...,1:29.699,236.430,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,2.0,27.0
33,1062,2021,11,11,Hungarian GP,2021-08-01,1,131,1,2,...,1:18.715,200.363,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,18.0
34,1063,2021,12,13,Belgian GP,2021-08-29,1,131,3,3,...,\N,\N,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,7.5
35,1064,2021,13,39,Dutch GP,2021-09-05,1,131,2,2,...,1:11.097,215.654,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,19.0
36,1065,2021,14,14,Italian GP,2021-09-12,1,131,4,\N,...,1:25.870,242.864,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,0.0
37,1066,2021,15,71,Russian GP,2021-09-26,1,131,4,1,...,1:37.575,215.760,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0
38,1067,2021,16,5,Turkish GP,2021-10-10,1,131,11,5,...,1:32.763,207.160,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,10.0
39,1069,2021,17,69,United States GP,2021-10-24,1,131,2,2,...,1:38.485,201.521,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,19.0
40,1070,2021,18,32,Mexico City GP,2021-11-07,1,131,2,2,...,1:19.820,194.116,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,18.0
41,1071,2021,19,18,S茫o Paulo GP,2021-11-14,1,131,10,1,...,1:11.982,215.503,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0
24,1051,2021,20,78,Qatar GP,2021-11-21,1,131,1,1,...,1:25.084,227.633,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0
42,1072,2021,21,77,Saudi Arabian GP,2021-12-05,1,131,1,1,...,1:30.734,244.962,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,26.0
43,1073,2021,22,24,Abu Dhabi GP,2021-12-12,1,131,2,2,...,1:26.615,219.495,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,18.0

In [48]:
ham.head()

,raceId,year,round,circuitId,raceName,date,driverId,constructorId,grid,position,...,fastestLapTime,fastestLapSpeed,driverRef,driverNum,code,dob,driverNat,driverName,sprint-points,total-points
22,1053,2021,2,21,Emilia Romagna GP,2021-04-18,1,131,1,2,...,1:16.702,230.403,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,19.0
23,1052,2021,1,3,Bahrain GP,2021-03-28,1,131,2,1,...,1:34.015,207.235,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0
24,1051,2021,20,78,Qatar GP,2021-11-21,1,131,1,1,...,1:25.084,227.633,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0
25,1054,2021,3,75,Portuguese GP,2021-05-02,1,131,2,1,...,1:20.933,206.971,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0
26,1055,2021,4,4,Spanish GP,2021-05-09,1,131,1,1,...,1:20.665,208.640,hamilton,44,HAM,1985-01-07,British,Lewis Hamilton,0.0,25.0

In [49]:
def totalPoints(data):
    total_Points = []
    data.sort_values(by="round")
    sum = 0
    for x in data["total-points"]:
        sum += x
        total_Points.append(sum)
        
    return total_Points

In [50]:
totalPointsHam = totalPoints(ham)
totalPointsVer = totalPoints(ver)

In [51]:
print("Total points of Hamilton : ", totalPointsHam)
print("\nTotal points of Verstappen : ",totalPointsVer)

Total points of Hamilton :  [19.0, 44.0, 69.0, 94.0, 119.0, 126.0, 126.0, 145.0, 163.0, 175.0, 202.0, 220.0, 227.5, 246.5, 246.5, 271.5, 281.5, 300.5, 318.5, 343.5, 369.5, 387.5]

Total points of Verstappen :  [25.0, 43.0, 62.0, 80.0, 99.0, 124.0, 124.0, 149.0, 175.0, 201.0, 204.0, 206.0, 218.5, 243.5, 245.5, 263.5, 281.5, 306.5, 331.5, 351.5, 369.5, 395.5]

In [52]:
names = []
for x in ham["race_name"]:
    names.append(x)
    
plt.figure(figsize=(12,8))
plt.plot(names, totalPointsVer, label='Max Verstappen', color='blue')
plt.plot(names, totalPointsHam, label='Lewis Hamilton', color='#00A19C')
plt.title("Championship Battle")
plt.ylabel('Points')
plt.xlabel("Grand Prix's")
plt.xticks(rotation=90)
plt.legend()
plt.grid()
plt.show()

KeyError: 'race_name'